body{
    font-family: 'Nanum Gothic', sans-serif;
}

.top{
    width: 100%;
    height: 100px;
    background-color:deepskyblue;
}

.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.wrap{
    display: flex;
    background: white;
	border-radius: 5px;
	box-shadow: 0.5px 0.5px 2px 1px #eee;
    margin-top:20px;
   
}

.img-box{
    width: 30%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box img{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.text-box{
    margin-top: 10px;
    text-align: left;
    width: 30%;
    
}

.text-box * {
    width: 100%;
}

.box-wrap{
    width: 40%;
    display: flex;

}


.index-box{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    line-height: 5px;
}



.index-box p{
    width: 100%;
    padding: 10px;
    
}


.skill-box{
    padding: 10px;
    
   
}



.result-img-box{
    width: 100%;
    height: 80%;
    text-align: center;
    cursor: pointer;
}


.result-img-box img{
    width: 25%;
    height: 150px;
    padding: 10px;
}

.img-view{
  display:none;
  position:fixed; 
  width:100%; height:100%;
  top:0; left:0; 
  background:rgba(0,0,0,0.3);
}

.view-img-wrap{ 
    display: flex;  
    position:fixed;
    width: 100%;
    height: 80%;
    top:50%; left:50%;
    width: 800px;
    transform: translate(-50%,-50%);
    background:#fff;
    overflow: hidden;
    
    
}
.view-img-box{
    width: 4000px;
    height: 800px;
}

.view-img-box img{
    width: 800px;
    height: 800px;
}


.button-box{
    width: 100%;
    height: 20%;
   
    position: relative;
    margin-top: 70px

    
}





