*{
    margin: 0;
    padding: 0
}

html{
    overflow-x:hidden;
}
body{
    font-family: 'Gothic A1','Nanum Myeongjo','Oswald', sans-serif;
}


h1{
    font-family: 'Oswald';
}

ul{
  font-size: 0;
  text-align: center;
  float: right;
  
}

li{
    cursor: pointer;
}

.wrap{
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
}


#font-menu{
    width: 100%;
}


#font-menu li{
  display: inline-block;
  width: 100px;
  text-align: center;
  
}

#sub-menu{
    margin-top:250px;
   
}

#sub-menu li{
    padding: 10px;
    
}

#font-menu ul{
    display: none;

  }


#top-menu li{
    list-style: none;
    display:inline-block;
    margin-right: 20px;
    font-size: 25px;
    font-family: 'Oswald';
}



#title-container{
    width: 100%;
    height: 800px;
    margin: 0 auto;
    position: relative;
    
}

#top-menu{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 9999;
    color: white;

}



#title{
    position: absolute;
    color: white;
    font-size: 25px;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate( -50%, -50% );
}



#produce{
    width: 100%;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    color: white;
    font-size: 20px;
    text-align: center;
    bottom: 50px;
}

#produce div{
    text-align: center;
}

#title-container img{
    width: 100%;
    height: 100%;
}


#about-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 7px;
}



.about-box{
    width: 300px;
    height: 300px;   
    padding: 10px;
    background-color: white;
}

.about-inbox{
    width: 100%;
    height: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.about-icon{
   width: 50%;
   text-align: center;

}

.about-text{
    width: 50%;
}


#skill-container{
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Oswald';
    color: black;
}


.skill-box{
    width: 400px;
    height: 300px;
    background-color: white;
    text-align: center;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-left: 10px;
}

.skill-box img{
    width: 100px;
    height: 100px;
    padding: 10px;
}

#project-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.project-box{
    margin: 0 auto;
    width:1100px;
    margin-bottom: 20px;
    display: flex;
    border-radius: 4px;
    background-color: #f8f9fa;
    box-shadow: 0.5px 0.5px 2px 1px #eee;
}

.mySwiper{
   width: 50%;
   height: 100%;
   position: relative;
}

.swiper-wrapper div{
    width: 100%;
}

.swiper-wrapper div img{
    width: 100%;
    height: 600px;
    padding: 15px;
}

.swiper-pagination{
   font-weight: bold;
}

.more-box{
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
}

.more-box div{
    width: 90%;

}


.slick-dots li.slick-active button {
    background-color: #E2E2E2;
}   


.swiper-button-next,
.swiper-button-prev {
  font-size: 40px;
 
}

.swiper-button-next > a,
.swiper-button-prev > a
{
    display: none;
}


.mySwiper:hover .swiper-button-next > a{
    display: flex;
}

.mySwiper:hover .swiper-button-prev > a{
    display: flex;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

#career-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Oswald';
    margin-top: 30px;
    padding: 20px;
    background-color: black;
    color: white;
}


#career-box{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

/* 반응형 */
@media (min-width : 1491px) {
    #two{
        display: none;
    }
    #three{
        display: none;
    }
    #font-menu{
        display: none;
    }

  


}


@media (max-width : 1490px) {
    #first {
        display: none;
    }

    #three{
        display: none;
    }

    #two{
        display: inline-block;
    }
    #font-menu{
        display: none;
    }
    
}

@media (max-width:1200px){
    #project-container{
        width: 95%;
        margin: 0 auto;
    }

    .project-box{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .mySwiper{
        width: 100%;
        height: 50%;
    }


    .more-box{
        width: 100%;
        height: 50%;
        text-align: left;
        display: block;
       
    }

    .project-box{
        width: 100%;
    }

 
    .skill-box{
        width: 100%;
    }
}

#font-menu li:hover #sub-menu{
    display: inline-block;
}

@media (max-width: 1023px){
    #first {
        display: none;
    }
    
    #two{
        display: none;
    }

    #three{
        display: inline-block;
        font-size: 35px;
    }


    #text-menu{
        display: none;
    }

    #font-menu{
        display: block;
    }

  



  
}

@media (max-width:767px) {
    .about-box{
        width: 100px;
        font-size: 10px;
    }

    .skill-box{
        width: 100%;
    }

    .skill-container{
        display: block;
    }

    #skill-container .wrap{
       display: block;
    }

    .skill-box{
        margin-bottom: 15px;
    }

    .project-box{
        font-size: 13px;
        width: 100%;
    }

  

}


